@import './variables';
@import './mixins';


* {
    @include format-document;
}

.main-cart {
    width: 90%;
    height: 100vh;
    display: flex;
    margin: 5px auto;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;


    .titulos {
        @include titulos-principales;

        h1 {
            @include titulos-principales-h1;
        }

    }

    .container-cards {
        width: 100%;
        border: hidden;
        display: flex;
        justify-content: center;

        .card {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 1700px;
            height: 100%;
            padding: 1rem;
            background: none;

            .tarjeta-contenido {
                width: 30%;
                max-width: 300px;
                height: 400px;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                flex-direction: column;
                margin: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
                box-shadow: 0 0 10px #000;
                border-radius: 5px;



                .imagen {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    background-color: #fafafa;
                    padding: 15px;

                    img {
                        width: 100%;
                        height: 200px;
                    }
                }

                h2 {
                    background-color: #0c0c0c;
                    width: 100%;
                    text-align: center;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    margin-top: 5px;
                    margin-bottom: 1px;
                    color: #fafafa;
                    font-size: 15px;
                    display: flex;
                    flex-direction: column;
                }

                .seccion2 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p {
                        background-color: #080908;
                        width: 100%;
                        text-align: center;
                        font-family: sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                        color: #fafafa;


                    }

                    button {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        padding: 10px;
                        width: 80%;
                        text-transform: uppercase;
                        background-color: rgb(36, 8, 216);
                        color: #fff;
                        font-weight: 700;
                        border: hidden;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    button:hover {
                        background-color: rgb(50, 25, 209);
                        color: #fff;
                    }
                }

            }
        }
    }


    .carrito {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        h2 {
            font-size: 20px;
            text-align: left;
            width: 100%;
            font-family: sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            padding: 15px;
            text-decoration: underline;
        }

        .titulos {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            .titulo-carrito {
                width: 100%;
                font-size: 20px;
                font-family: sans-serif;
                padding: 5px;
                text-align: center;

            }
        }

        .contenedor-productos {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .carro-compras {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                align-items: center;
                padding: 15px;

                .producto-carro {
                    width: 33.3%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;

                    .imagen-carro {
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        padding-top: 15px;
                        padding-bottom: 15px;

                        .imagen-cart {
                            width: 50%;
                            justify-content: flex-start;

                            img {
                                width: 150px;
                                height: 150px;
                            }
                        }

                        .title-producto-carro {
                            width: 100%;

                            h2 {
                                width: 100%;
                                font-size: 10px;
                                font-family: sans-serif;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                text-align: left;
                                text-decoration: none;

                                span {
                                    text-align: left;

                                }
                            }
                        }
                    }
                }

                .precio-carro {
                    width: 33.3%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .price-carro {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            text-align: center;
                            width: 100%;
                            height: 100%;
                            font-size: 15px;
                            font-family: sans-serif;
                            font-weight: 700;
                        }

                    }
                }

                .cantidad-carro {
                    width: 33.3%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .button-cantidad {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .btn-number {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            input {
                                width: 50%;
                                max-width: 200px;
                                cursor: pointer;

                            }
                        }



                        .btn-delete {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;


                            button {
                                width: 50px;
                                height: 50px;
                                background: none;
                                border: hidden;
                                cursor: pointer;

                                img {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }

                }
            }

        }

        .compra {
            width: 100%;
            padding: 15px;
            display: flex;

            .total {
                width: 50%;
                padding: 5px;

                h4 {
                    font-size: 20px;
                    font-family: sans-serif;
                }
            }

            .boton-comprar {
                display: flex;
                justify-content: right;
                width: 50%;
                padding: 5px;


                button {
                    background-color: #10b110;
                    border: hidden;
                    color: #e4e1e1;
                    text-transform: uppercase;
                    font-family: sans-serif;
                    font-weight: 700;
                    font-size: 15px;
                    width: 100px;
                    height: 30px;
                    padding: 5px;
                    border-radius: 5px;
                    cursor: pointer;

                }

                button:hover {
                    background-color: #23a223;

                }
            }

        }
    }

}

@media screen and (max-width:768px) {
    .main-cart {
        width: 90%;
        height: 100vh;
        display: flex;
        margin: 5px auto;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;


        .titulos {
            @include titulos-principales;

            h1 {
                @include titulos-principales-h1;
            }

        }

        .container-cards {
            width: 100%;
            border: hidden;
            display: flex;

            .card {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                max-width: 1700px;
                height: 100%;
                padding: 1rem;
                background: none;


                .tarjeta-contenido {
                    width: 50%;
                    max-width: 250px;
                    min-width: 250px;
                    height: 400px;
                    display: flex;
                    justify-content: flex-start;
                    align-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 5px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    box-shadow: 0 0 10px #000;
                    border-radius: 5px;



                    .imagen {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        background-color: #fafafa;
                        padding: 15px;

                        img {
                            width: 100%;
                            height: 200px;
                        }
                    }

                    h2 {
                        background-color: #0c0c0c;
                        width: 100%;
                        text-align: center;
                        font-family: sans-serif;
                        text-transform: uppercase;
                        margin-top: 5px;
                        margin-bottom: 1px;
                        color: #fafafa;
                        font-size: 15px;
                        display: flex;
                        flex-direction: column;
                    }

                    .seccion2 {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p {
                            background-color: #080908;
                            width: 100%;
                            text-align: center;
                            font-family: sans-serif;
                            font-size: 15px;
                            font-weight: 700;
                            color: #fafafa;


                        }

                        button {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            padding: 10px;
                            width: 80%;
                            text-transform: uppercase;
                            background-color: rgb(36, 8, 216);
                            color: #fff;
                            font-weight: 700;
                            border: hidden;
                            border-radius: 5px;
                            cursor: pointer;
                        }

                        button:hover {
                            background-color: rgb(50, 25, 209);
                            color: #fff;
                        }
                    }

                }
            }
        }

        .carrito {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;

            h2 {
                font-size: 20px;
                text-align: left;
                width: 100%;
                font-family: sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                padding: 15px;
                text-decoration: underline;
            }

            .titulos {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;

                .titulo-carrito {
                    width: 100%;
                    font-size: 20px;
                    font-family: sans-serif;
                    padding: 5px;
                    text-align: center;

                }
            }

            .contenedor-productos {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .carro-compras {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;

                    .producto-carro {
                        width: 33.3%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;

                        .imagen-carro {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            justify-content: space-around;
                            align-items: center;
                            padding-top: 15px;
                            padding-bottom: 15px;



                            .imagen-cart {
                                width: 100%;
                                display: flex;

                                img {
                                    display: none;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .title-producto {
                                width: 100%;
                                font-family: sans-serif;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                text-align: center;
                                justify-content: center;

                                h2 {
                                    font-size: 8px;

                                }
                            }
                        }
                    }

                    .precio-carro {
                        width: 33.3%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;

                        .price-carro {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            font-size: 15px;
                            font-family: sans-serif;
                            font-weight: 700;
                        }
                    }

                    .cantidad-carro {
                        width: 33.3%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;

                        .button-cantidad {
                            display: flex;
                            width: 100%;
                            flex-direction: row;
                            justify-content: space-around;
                            align-items: center;
                            height: 100%;

                            .btn-number {
                                width: 50%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                input {
                                    width: 100%;
                                    max-width: 150px;
                                    cursor: pointer;

                                }
                            }



                            .btn-delete {
                                width: 50%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                button {
                                    width: 50px;
                                    height: 50px;
                                    background: none;
                                    border: hidden;
                                    cursor: pointer;

                                    img {
                                        width: 30px;
                                        height: 30px;
                                    }
                                }
                            }
                        }

                    }
                }

            }
        }
    }
}

@media screen and(max-width:500px) {
    .main-cart {
        .carrito {
            .compra {
                width: 100%;
                padding: 15px;
                display: flex;

                .total {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 50%;
                    padding-left: 15px;
                    padding-top: 5px;

                    h4 {
                        font-size: 15px;
                        font-family: sans-serif;
                    }
                }

                .boton-comprar {
                    display: flex;
                    justify-content: right;
                    width: 50%;
                    padding: 5px;


                    button {
                        background-color: #10b110;
                        border: hidden;
                        color: #e4e1e1;
                        text-transform: uppercase;
                        font-family: sans-serif;
                        font-weight: 700;
                        font-size: 10px;
                        width: 60%;
                        height: 30px;
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: center;

                    }

                    button:hover {
                        background-color: #23a223;

                    }
                }

            }
        }
    }
}