@import './variables';
@import './mixins';

* {
    @include format-document;
}

header {
    @include setup;
    height: 60px;
    display: flex;
    box-shadow: 0px 5px 5px $primary-color-7;
    background: $secondary-color-5;
    background: -webkit-linear-gradient(to right, $secondary-color-6, $secondary-color-5);
    background: linear-gradient(to right, $secondary-color-6, $secondary-color-5);
    position: sticky;
    top: 0;
    z-index: 3;

    .logo {
        width: 20%;
        z-index: 3;
    }

    .logo img {
        margin-left: $margin-3;
        width: 200px;
        height: 60px;
    }

    nav {
        width: $width-3;
        display: flex;
        justify-content: right;
        flex-direction: row;
        z-index: 5;
        margin-right: 43px;

        li {
            list-style: none;
            display: inline-block;
            position: relative;
            margin: $margin-3 $margin-1;

            a {
                color: $secondary-color-4;
                font-family: $font-primary-1;
                text-align: center;
                font-size: $font-size-2;
                font-weight: bold;
                letter-spacing: 2px;
                text-decoration: none;
                padding: $padding-2 $padding-6;
                display: flex;
                flex-direction: row;
                position: relative;
            }
        }

        .img-iconos {
            margin-right: $margin-1;
            width: 16px;
            height: 16px;
        }

        a:hover {
            background: $secondary-color-7;
            background: -webkit-linear-gradient(to right, $secondary-color-8, $secondary-color-7);
            background: linear-gradient(to right, $secondary-color-8, $secondary-color-7);
            border-radius: 10px;
            transition: 1s;
            color: $secondary-color;
            box-shadow: 1px 0px 0px 2px $secondary-color-9;
            transform: scale(1.1);
        }

        .active {
            text-decoration: underline 2px $secondary-color-1;
            background-color: $secondary-color-7;
            border-radius: 5px;
        }





    }

    .cart {
        margin-top: 15px;
        margin-right: 5px;
        right: 0;
        z-index: 3;
        list-style: none;
        position: absolute;

        a {
            color: $secondary-color-4
        }

        i:hover {
            background: none;
            border: none;
            border-radius: none;
            box-shadow: none;
            transition: 1s;
            transform: scale(1.1);

        }
    }

    #checkbtn {
        display: none;
    }

    label {
        display: none;
    }
}


@media screen and (max-width:1024px) {
    header {
        display: flex;
        flex-direction: row;

        .logo {
            justify-content: space-between;
            width: $width;
        }

        nav {
            position: absolute;
            width: $width;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: -200%;
            height: 60px;
            flex-wrap: wrap;
            background: $secondary-color-5;
            background: -webkit-linear-gradient(to right, $secondary-color-6, $secondary-color-5);
            background: linear-gradient(to right, $secondary-color-6, $secondary-color-5);

            li {
                list-style: none;
                display: inline-block;
                position: relative;
                margin: $margin-3 auto;

                a {
                    color: $secondary-color;
                    font-family: $font-primary-1;
                    text-align: center;
                    font-size: $font-size-2;
                    font-weight: bold;
                    letter-spacing: 2px;
                    text-decoration: none;
                    padding: $padding-2 $padding-6;
                    display: flex;
                    flex-direction: row;
                }
            }

            .img-iconos {
                margin-right: $margin-1;
                width: 16px;
                height: 16px;
            }


            a {
                text-align: left;
                font-size: $font-size-12;
            }

        }

        .cart {
            margin-top: 10px;
            margin-right: 90px;
            right: 0;
            z-index: 3;
            list-style: none;
            position: absolute;

            a {
                color: $secondary-color-4
            }

            i:hover {
                background: none;
                border: none;
                border-radius: none;
                box-shadow: none;
                transition: 1s;
                transform: scale(1.1);

            }
        }


        #checkbtn {
            display: none;
        }

        .menu-hamb {
            margin: 12px 25px 0px auto;
            display: block;
            z-index: 5;
            height: 15px;
        }

        .cruz-boton {
            margin: 12px 25px 0px auto;
            display: none;
            height: 15px;
            z-index: 5;

        }

        #checkbtn:checked~nav {
            margin-top: 60px;
            transition: all 500ms ease-in;
        }

        #checkbtn:checked~.cruz-boton {
            display: block;
            transition: all 500ms ease-in-out;
        }

        #checkbtn:checked~.menu-hamb {
            left: 0;
            display: none;
        }
    }
}

@media screen and (max-width:768px) {

    header {
        display: flex;
        flex-direction: row;

        .logo {
            justify-content: space-between;
            width: $width;
        }

        nav {
            position: absolute;
            width: $width;
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin-top: -200%;
            height: 485px;
            flex-wrap: wrap;
            background: $secondary-color-5;
            background: -webkit-linear-gradient(to right, $secondary-color-6, $secondary-color-5);
            background: linear-gradient(to right, $secondary-color-6, $secondary-color-5);

            ul {
                width: $width;
                display: flex;
                justify-content: center;
                margin: auto;
                flex-direction: column;


                li {
                    margin: auto;
                    margin-left: -20px;
                    margin-top: $margin-3;
                    width: $width;
                    border-bottom: 2px solid $secondary-color;

                    a {
                        font-size: $font-size-5;
                        letter-spacing: 10px;
                        width: $width-9;
                        text-align: left;
                    }

                }

            }

            a:hover {
                border-radius: none;
                transition: none;
                color: $secondary-color;
                border-bottom: none;
                cursor: pointer;
                background: none;
                background: -webkit-linear-gradient(none);
                background: linear-gradient(none);
                border-radius: none;
                transition: none;
                box-shadow: none;
                transform: none;
            }

            .img-iconos {
                margin-right: $margin-2;
                margin-top: 6px;
                width: 16px;
                height: 16px;
            }
        }

        #checkbtn {
            display: none;
        }

        .menu-hamb {
            margin: 12px 25px 0px auto;
            display: block;
            height: 15px;
        }

        .cruz-boton {
            margin: 12px 25px 0px auto;
            display: none;
            height: 15px;
        }

        #checkbtn:checked~nav {
            margin-top: 60px;
            transition: all 300ms ease-in;
        }

        #checkbtn:checked~.cruz-boton {
            display: block;
            transition: all 300ms ease-in-out;
        }

        #checkbtn:checked~.menu-hamb {
            left: 0;
            display: none;
        }
    }
}


@media screen and (max-width: 500px) {
    header {

        .logo img {
            margin-top: 10px;
            margin-left: 0;
            width: 120px;
            height: 40px;
        }

        .cart {
            margin-right: 60px;
            right: 0;


            i {
                margin-top: 10px;
                font-size: 20px;

            }

        }

        .menu-hamb {
            i {
                margin-top: 8px;
                font-size: 25px;

            }
        }

        .cruz-boton {
            i {
                margin-top: 8px;
                font-size: 25px;

            }

        }
    }
}