@import './variables';
@import './mixins';

* {
    @include format-document;
}



.main-ofertas {
    @include main;

    .titulos {
        @include titulos-principales;

        h2 {
            @include titulos-principales-h2;
        }
    }



    .contenedor-ofertas {
        margin-top: 70px;

        .buton-icono {
            width: $width;
            margin-top: 0px;
        }

        .tarjeta {
            @include tarjeta-productos-ofertas;

            .tarjeta-contenida {
                @include tarjeta-contenida-productos-ofertas;
            }

            .tarjeta-contenida:hover {
                @include tarjeta-contenida-productos-ofertas-hover;
            }

            .descripcion-oferta {
                font-size: $font-size-1;
            }

            .logo-ahora12 {
                width: 80px;
                height: 80px;
            }
        }


        .linea {
            margin-top: 70px;

            hr {
                width: $width-7;
                margin: auto;
                height: 3px;
                background-color: $primary-color-6;
            }
        }

    }

}