@import './variables';
@import './mixins';

* {
    @include format-document;
}



.main-ofertas {
    @include main;

    .titulos {
        @include titulos-principales;

        h1 {
            @include titulos-principales-h1;
        }
    }



    .contenedor-ofertas {
        margin-top: 70px;




        .tarjeta {
            @include tarjeta-productos-ofertas;

            .tarjeta-contenida {
                @include tarjeta-contenida-productos-ofertas;
            }

            .tarjeta-contenida:hover {
                @include tarjeta-contenida-productos-ofertas-hover;
            }

            .descripcion-oferta {
                font-size: $font-size-1;
            }

            .buton-icono {
                width: $width;
                margin-top: 0px;
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;

                .logo-ahora12 {
                    margin-top: 15px;
                    width: 100px;
                    height: 80px;
                }
            }

        }

        .linea {
            margin-top: 70px;

            hr {
                width: $width-7;
                margin: auto;
                height: 3px;
                background-color: $primary-color-6;
            }
        }
    }

}