@import './variables';
@import './mixins';

* {
    @include format-document;
}

.main-productos {
    @include main;

    .titulos {
        @include titulos-principales;

        h2 {
            @include titulos-principales-h2;

        }
    }


    .boton-navegacion {
        width: $width;
        max-width: $max-width-2;
        text-align: right;
        z-index: 999;

        select {
            width: $width-11;
            max-width: $max-width-10;
            text-align: left;
            height: 30px;
            text-decoration: underline;
            font-size: $font-size-5;
            text-transform: uppercase;
            font-weight: 50;
            z-index: 999;
        }
    }

    .contenedor-productos {
        margin-top: 70px;

        .titulos-cubiertas {
            color: $secondary-color-5;
            @include titulos-productos-desktop;

        }

        .titulos-amortiguadores {
            color: $secondary-color-10;
            @include titulos-productos-desktop;
        }

        .titulos-frenos {
            color: $secondary-color-11;
            @include titulos-productos-desktop;

        }

        .buton-icono {
            width: $width-9;
            margin-top: 0px;
        }

        .tarjeta {
            @include tarjeta-productos-ofertas;

            .tarjeta-contenida {
                @include tarjeta-contenida-productos-ofertas;
            }

            .tarjeta-contenida:hover {
                @include tarjeta-contenida-productos-ofertas-hover;
            }

            .descripcion-productos {
                font-size: $font-size-2;
            }
        }

        .linea {
            margin-top: 70px;

            hr {
                @include linea-hr;
            }
        }

    }

}


@media screen and (max-width:768px) {
    .main-productos {

        .boton-navegacion {

            select {
                width: $width-11;
                max-width: $max-width-10;
                font-size: $font-size-4;
            }
        }

        .contenedor-productos {

            .titulos-cubiertas {
                @include titulos-productos-tablet;
            }

            .titulos-amortiguadores {
                @include titulos-productos-tablet;

            }

            .titulos-frenos {
                @include titulos-productos-tablet;

            }
        }
    }
}

@media screen and (max-width:500px) {
    .main-productos {

        .boton-navegacion {

            select {
                width: $width-7;
                max-width: $max-width-8;
                font-size: $font-size-2;
            }
        }

        .contenedor-productos {

            .titulos-cubiertas {
                @include titulos-productos-celular;
            }

            .titulos-amortiguadores {
                @include titulos-productos-celular;

            }

            .titulos-frenos {
                @include titulos-productos-celular;

            }
        }
    }
}