@import './variables';
@import './mixins';


* {
    @include format-document;
}

.main-cart {
    @include main;

    .img-not-found {
        width: $width;
        max-width: $max-width-1;
        margin: 0px auto;
        z-index: 1;

        img {
            width: $width;
            max-width: $max-width-1;
            margin: auto;
        }





    }

    .volver-inicio {
        width: 100%;
        margin: auto;
        z-index: 2;
        text-align: center;

        a {
            text-align: center;
        }
    }




}

@media screen and (max-width: 1024px) {
    .main-cart {
        @include main;


        .img-not-found {
            margin: 100px auto;
            width: $width;
            max-width: $max-width-1;

            img {
                width: $width;
                max-width: $max-width-1;
                margin: auto;
            }

        }

    }
}

@media screen and (max-width: 768px) {
    .main-cart {
        @include main;


        .img-not-found {
            margin: 200px auto;
            width: $width;
            max-width: $max-width-1;

            img {
                width: $width;
                max-width: $max-width-1;
                margin: auto;
            }

        }

    }

}

@media screen and (max-width: 450px) {
    .main-cart {
        @include main;


        .img-not-found {
            margin: 250px auto;
            width: $width;
            max-width: $max-width-1;

            img {
                width: $width;
                max-width: $max-width-1;
                margin: auto;
            }

        }

    }

}