@import './variables';
@import './mixins';

* {
    @include format-document;
}

header {
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 60px;
    display: flex;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.637);
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    position: sticky;
    top: 0;
    z-index: 3;

    .logo {
        width: 20%;
        z-index: 3;
    }

    .logo img {
        margin-left: 15px;
        width: 200px;
        height: 60px;
    }

    nav {
        width: 80%;
        display: flex;
        justify-content: right;
        flex-direction: row;
        z-index: 5;

        li {
            list-style: none;
            display: inline-block;
            position: relative;
            margin: 15px 5px;

            a {
                color: rgba(230, 231, 231, 0.945);
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2px;
                text-decoration: none;
                padding: 10px 12px;
                display: flex;
                flex-direction: row;
                position: relative;
            }
        }

        .img-iconos {
            margin-right: 5px;
            width: 16px;
            height: 16px;
        }

        a:hover {
            background: #000428;
            background: -webkit-linear-gradient(to right, #004e92, #000428);
            background: linear-gradient(to right, #004e92, #000428);
            border-radius: 10px;
            transition: 1s;
            color: white;
            box-shadow: 1px 0px 0px 2px #018bb9;
            transform: scale(1.1);
        }
    }



    #checkbtn {
        display: none;
    }

    label {
        display: none;
    }
}


@media screen and (max-width:1024px) {
    header {
        display: flex;
        flex-direction: row;

        .logo {
            justify-content: space-between;
            width: 100%;
        }

        nav {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: -200%;
            height: 60px;
            flex-wrap: wrap;
            background: #0575E6;
            background: -webkit-linear-gradient(to right, #021B79, #0575E6);
            background: linear-gradient(to right, #021B79, #0575E6);

            li {
                list-style: none;
                display: inline-block;
                position: relative;
                margin: 15px auto;

                a {
                    color: rgba(230, 231, 231, 0.945);
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    text-decoration: none;
                    padding: 10px 12px;
                    display: flex;
                    flex-direction: row;
                }
            }

            .img-iconos {
                margin-right: 5px;
                width: 16px;
                height: 16px;
            }


            a {
                text-align: left;
                font-size: 5px;
            }

        }


        #checkbtn {
            display: none;
        }

        .menu-hamb {
            margin: 12px 25px 0px auto;
            display: block;
            z-index: 5;
            height: 15px;
        }

        .cruz-boton {
            margin: 12px 25px 0px auto;
            display: none;
            height: 15px;
            z-index: 5;

        }

        #checkbtn:checked~nav {
            margin-top: 60px;
            transition: all 500ms ease-in;
        }

        #checkbtn:checked~.cruz-boton {
            display: block;
            transition: all 500ms ease-in-out;
        }

        #checkbtn:checked~.menu-hamb {
            left: 0;
            display: none;
        }
    }
}

@media screen and (max-width:768px) {

    header {
        display: flex;
        flex-direction: row;

        .logo {
            justify-content: space-between;
            width: 100%;
        }

        nav {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin-top: -200%;
            height: 485px;
            flex-wrap: wrap;
            background: #0575E6;
            background: -webkit-linear-gradient(to right, #021B79, #0575E6);
            background: linear-gradient(to right, #021B79, #0575E6);

            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: auto;
                flex-direction: column;


                li {
                    margin: auto;
                    margin-left: -20px;
                    margin-top: 15px;
                    width: 100%;
                    border-bottom: 2px solid white;

                    a {
                        font-size: 20px;
                        letter-spacing: 10px;
                        width: 50%;
                        text-align: left;
                    }

                }

            }

            a:hover {
                border-radius: none;
                transition: none;
                color: white;
                border-bottom: none;
                cursor: pointer;
                background: none;
                background: -webkit-linear-gradient(none);
                background: linear-gradient(none);
                border-radius: none;
                transition: none;
                box-shadow: none;
                transform: none;
            }

            .img-iconos {
                margin-right: 10px;
                margin-top: 6px;
                width: 16px;
                height: 16px;
            }
        }

        #checkbtn {
            display: none;
        }

        .menu-hamb {
            margin: 12px 25px 0px auto;
            display: block;
            height: 15px;
        }

        .cruz-boton {
            margin: 12px 25px 0px auto;
            display: none;
            height: 15px;
        }

        #checkbtn:checked~nav {
            margin-top: 60px;
            transition: all 300ms ease-in;
        }

        #checkbtn:checked~.cruz-boton {
            display: block;
            transition: all 300ms ease-in-out;
        }

        #checkbtn:checked~.menu-hamb {
            left: 0;
            display: none;
        }
    }
}


@media screen and (max-width: 500px) {
    .logo img {
        margin-left: 5px;
        width: 150px;
        height: 60px;
    }
}