@import './variables';

@mixin format-document {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@mixin titulos-principales {
    margin: 15px;
    font-family: sans-serif;
    width: 100%;
    margin: auto;
    max-width: 1300px;
}

@mixin titulos-principales-h2 {
    text-decoration: underline;
    color: rgb(241, 30, 30);
    font-weight: bold;

}

@mixin main {
    width: 90%;
    margin: 20px auto;
    max-width: 1300px;
    overflow: hidden;
    scroll-behavior: smooth;
}

@mixin titulos-productos-desktop {
    font-weight: bold;
    margin-left: 20px;
    font-size: 40px;
}

@mixin titulos-productos-tablet {
    margin: auto;
    text-align: center;
    font-size: 40px;
}

@mixin titulos-productos-celular {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

@mixin linea-hr {
    width: 60%;
    margin: auto;
    height: 3px;
    background-color: rgb(105, 103, 103);
}

@mixin tarjeta-productos-ofertas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@mixin tarjeta-contenida-productos-ofertas {
    border: 4px solid rgb(61, 61, 61);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(19, 18, 18);
}

@mixin tarjeta-contenida-productos-ofertas-hover {
    transition: all 1s 0s ease, all 1s 0s ease;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 5px 10px 5px rgb(112, 111, 111);
}