@import './variables';
@import './mixins';

* {
    @include format-document;
}

.main-nosotros {
    width: 90%;
    max-width: 1300px;
    margin: 20px auto;

    .titulos {
        @include titulos-principales;

        h2 {
            @include titulos-principales-h2;
        }

    }

    .contenedor-nosotros {
        width: 100%;
        max-width: 1300px;
        margin: auto;

        .foto-local {
            width: 100%;
            max-width: 1300px;
        }

        .textos-nosotros {
            display: flex;
            flex-direction: row;
            justify-content: $center;
            align-items: $center;
            z-index: 2;
            margin-top: -200px;

            .texto-logo {
                width: 30%;
                padding: $padding-4;
                margin-top: 70px;

                h4:nth-child(1) {
                    @include h4-nosotros;
                    color: $primary-color-5;
                }

                h4:nth-child(2) {
                    @include h4-nosotros;
                    color: $primary-color;

                }
            }

            .textos-descripcion {
                margin-top: 15px;
                margin-left: 30px;
                width: 80%;
                max-width: 1300px;
                text-align: right;
                padding: $padding-4;

                h2 {
                    color: $primary-color;
                    font-weight: $bold;
                    font-size: $font-size-9;
                    text-shadow: 1px 1px 2px $primary-color-8;

                }

                h5 {
                    color: $secondary-color-2;
                    font-weight: $bold;
                    font-size: $font-size-4;
                    text-align: left;
                    text-shadow: 1px 1px 2px $primary-color-9;

                }
            }

        }

        .fotos-local {
            margin: 50px auto;
            width: 100%;
            max-width: 1100px;

            img {
                width: 100%;
                max-width: 1100px;
                object-fit: cover;
                z-index: 1;
            }
        }

    }

}

@media screen and (max-width:1024px) {

    .main-nosotros {

        .contenedor-nosotros {

            .textos-nosotros {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: $center;
                z-index: 2;
                margin-top: -180px;

                .texto-logo {
                    width: 30%;
                    padding: $padding-4;

                    h4:nth-child(1) {
                        @include h4-nosotros-1024px;
                    }

                    h4:nth-child(2) {
                        @include h4-nosotros-1024px;

                    }
                }

                .textos-descripcion {
                    margin-top: 15px;
                    margin-left: 30px;
                    width: 90%;
                    max-width: 1300px;
                    text-align: right;
                    padding: $padding-4;

                    h2 {
                        font-size: $font-size-5;
                    }

                    h5 {
                        font-size: $font-size-4;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:768px) {
    .main-nosotros {

        .contenedor-nosotros {

            .textos-nosotros {
                display: flex;
                flex-direction: row;
                justify-content: $center;
                align-items: $center;
                z-index: 2;
                margin-top: -150px;

                .texto-logo {
                    width: 30%;
                    padding: $padding-4;
                    margin-top: 35px;

                    h4:nth-child(1) {
                        @include h4-nosotros-1024px;

                    }

                    h4:nth-child(2) {
                        @include h4-nosotros-1024px;

                    }
                }

                .textos-descripcion {
                    margin-top: 15px;

                    h2 {
                        font-size: $font-size-4;
                    }

                    h5 {
                        font-size: $font-size-1;
                    }
                }

            }
        }
    }
}

@media screen and (max-width:430px) {
    .main-nosotros {

        .contenedor-nosotros {

            .textos-nosotros {
                display: flex;
                flex-direction: row;
                justify-content: $center;
                align-items: $center;
                z-index: 2;
                margin-top: -150px;

                .texto-logo {

                    h4:nth-child(1) {
                        @include h4-nosotros-430px;

                    }

                    h4:nth-child(2) {
                        @include h4-nosotros-430px;

                    }
                }

                .textos-descripcion {

                    h2 {
                        font-size: $font-size-1;
                    }

                    h5 {
                        font-size: $font-size;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:330px) {
    .main-nosotros {

        .contenedor-nosotros {

            .textos-nosotros {
                display: flex;
                flex-direction: row;
                justify-content: $center;
                align-items: $center;
                z-index: 2;
                margin-top: -180px;
            }
        }
    }
}