@import './variables';
@import './mixins';

* {
    @include format-document;
}

.main-productos {
    @include main;

    .titulos {
        @include titulos-principales;

        h2 {
            @include titulos-principales-h2;

        }
    }


    .boton-navegacion {
        width: 100%;
        max-width: 1300px;
        text-align: right;
        z-index: 999;

        select {
            width: 40%;
            max-width: 300px;
            text-align: left;
            height: 30px;
            text-decoration: underline;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 50;
            z-index: 999;
        }
    }

    .contenedor-productos {
        margin-top: 70px;

        .titulos-cubiertas {
            color: rgb(13, 160, 228);
            @include titulos-productos-desktop;

        }

        .titulos-amortiguadores {
            color: rgb(238, 177, 8);
            @include titulos-productos-desktop;
        }

        .titulos-frenos {
            color: rgb(189, 240, 8);
            @include titulos-productos-desktop;

        }

        .buton-icono {
            width: 50%;
            margin-top: 0px;
        }

        .tarjeta {
            @include tarjeta-productos-ofertas;

            .tarjeta-contenida {
                @include tarjeta-contenida-productos-ofertas;
            }

            .tarjeta-contenida:hover {
                @include tarjeta-contenida-productos-ofertas-hover;
            }

            .descripcion-productos {
                font-size: 12px;
            }
        }

        .linea {
            margin-top: 70px;

            hr {
                @include linea-hr;
            }
        }

    }

}


@media screen and (max-width:768px) {
    .main-productos {

        .boton-navegacion {

            select {
                width: 40%;
                max-width: 300px;
                font-size: 15px;
            }
        }

        .contenedor-productos {

            .titulos-cubiertas {
                @include titulos-productos-tablet;
            }

            .titulos-amortiguadores {
                @include titulos-productos-tablet;

            }

            .titulos-frenos {
                @include titulos-productos-tablet;

            }
        }
    }
}

@media screen and (max-width:500px) {
    .main-productos {

        .boton-navegacion {

            select {
                width: 60%;
                max-width: 400px;
                font-size: 12px;
            }
        }

        .contenedor-productos {

            .titulos-cubiertas {
                @include titulos-productos-celular;
            }

            .titulos-amortiguadores {
                @include titulos-productos-celular;

            }

            .titulos-frenos {
                @include titulos-productos-celular;

            }
        }
    }
}