@import './variables';
@import './mixins';

* {
    @include format-document;
}

.main-usuarios {
    @include main;


    .titulos {
        @include titulos-principales;

        h2 {
            @include titulos-principales-h2;

        }
    }


    .contenedor-usuarios {
        margin: 70px auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        .usuario-registrado {
            @include usuarios;

            form {

                .olvido-contraseña {
                    width: 100%;
                    text-align: right;
                }

                .boton-ingreso {
                    width: 100%;
                    margin-top: 15px;

                    button {
                        width: 40%;
                        background-color: #005B96;
                        color: #f6f7f8;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        border: 1px solid #2BA0FF;
                        border-radius: 5px;
                    }

                    button:hover {
                        background-color: #228bd1;
                    }
                }


                .icono-usuarios {
                    position: relative;
                    width: 25px;
                    margin-top: -100px;
                    padding-left: 15px;
                }

                .form-floating label {
                    padding: 1rem 2rem;
                }

                .redes-contacto {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 15px;
                    margin-top: 100px;

                    .ingreso-facebook {
                        @include ingreso-facebook-google;
                        background-color: #005B96;


                        button {
                            @include button-facebook-google;
                            color: rgb(236, 236, 243);

                        }

                        .icon-facebook {
                            color: rgb(236, 236, 243);
                            margin: auto;
                        }
                    }

                    .ingreso-facebook:hover {
                        background-color: #228bd1;
                    }


                    .ingreso-google {
                        @include ingreso-facebook-google;
                        background-color: #F02513;


                        button {
                            @include button-facebook-google;
                            color: rgb(236, 236, 243);
                        }

                        .icon-google {
                            color: rgb(236, 236, 243);
                            margin: auto;
                        }
                    }

                    .ingreso-google:hover {
                        background-color: #ee4738;
                    }

                }

            }

        }


        .linea-divisoria {
            background-color: rgb(134, 133, 133);
            margin-top: 40px;
            height: 500px;
            width: 1px;
        }

        .usuario-nuevo {
            @include usuarios;

            form {

                .nuevo-usuario {

                    label {
                        font-weight: bold;
                        margin: 5px auto;
                    }

                    input {
                        width: 100%;
                        margin: 5px auto;
                        border-radius: 5px;
                        height: 40px;
                        padding-left: 15px;

                    }

                }


                .contenedor-fecha {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 20px auto;

                    .titulo-fecha {
                        width: 100%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        font-weight: bold;
                    }

                    input {
                        margin: 15px auto;
                        width: 100%;
                        text-align: center;
                        font-size: large;
                        letter-spacing: 5px;
                        font-weight: bold;
                        border-radius: 5px;
                    }
                }


                .contenedor-sexo {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 20px auto;
                    width: 100%;
                    text-align: center;
                    font-size: large;
                    letter-spacing: 5px;
                    font-weight: bold;

                    label {
                        width: 100%;
                        text-align: center;
                        font-size: 15px;
                    }

                    select {
                        width: 100%;
                        text-align: center;
                    }
                }


                .politicas-usuario {
                    margin-top: 15px;
                    width: 100%;

                    h6 {
                        font-size: 11px;

                    }
                }


                .boton-ingreso-nuevo {
                    width: 100%;
                    margin-top: 15px;
                    padding: 5px;

                    button {
                        width: 40%;
                        background-color: #747575;
                        color: #202020;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        border-radius: 5px;
                        background-color: #080808;
                        color: #f6f7f8;
                        border: #747575;
                    }

                    button:hover {
                        border: 1px solid #121213;
                        background-color: #747575;
                        color: #e9e8e8;

                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .main-usuarios {

        .contenedor-usuarios {
            margin: 70px auto;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .usuario-registrado {
                @include usuarios-768px;
                margin: 5px auto;
            }

            .linea-divisoria {
                height: 2px;
                width: 200px;
                margin: auto;
                margin-top: 25px;
            }

            .usuario-nuevo {
                @include usuarios-768px;
                margin: 35px auto;
            }

            .redes-contacto {
                margin-top: 5px;
            }
        }
    }
}

@media screen and (max-width:360px) {


    .main-usuarios {

        .contenedor-usuarios {


            .usuario-registrado {

                .ingreso-facebook {

                    .icon-facebook {
                        margin: auto;
                        width: 12px;

                        button {
                            font-size: 8px;
                            margin: auto;
                        }
                    }

                }

                .ingreso-google {

                    .icon-google {
                        margin: auto;
                        width: 12px;
                    }

                    button {
                        font-size: 8px;
                        margin: auto;
                        text-transform: uppercase;
                    }
                }

            }

            .usuario-nuevo {

                .boton-ingreso-nuevo button {
                    font-size: 12px;
                    font-weight: bold;
                }
            }

        }
    }
}