* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: auto;
    width: 100%;
    max-width: 1400px;
    height: 60px;
    display: flex;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.637);
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    width: 20%;
}

.logo img {
    margin-left: 15px;
    width: 200px;
    height: 60px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: right;
    flex-direction: row;
    z-index: 5;
}

nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 15px 5px;
}

nav .img-iconos {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

nav li a {
    color: rgba(230, 231, 231, 0.945);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 50px;
    transition: 1s;
    color: white;
    border-bottom: 1px solid white;
}

nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

header #checkbtn {
    display: none;
}

header label {
    display: none;
}

@media screen and (max-width:1024px) {
    header {
        display: flex;
        flex-direction: row;
    }

    .logo {
        justify-content: space-between;
        width: 100%;
    }

    nav {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: -200%;
        height: 60px;
        flex-wrap: wrap;
        background: #0575E6;
        background: -webkit-linear-gradient(to right, #021B79, #0575E6);
        background: linear-gradient(to right, #021B79, #0575E6);
    }

    nav li {
        list-style: none;
        display: inline-block;
        position: relative;
        margin: 15px auto;
    }

    nav .img-iconos {
        margin-right: 5px;
        width: 16px;
        height: 16px;
    }

    nav li a {
        color: rgba(230, 231, 231, 0.945);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;
        padding: 10px 12px;
        display: flex;
        flex-direction: row;
    }

    nav a {
        text-align: left;
        font-size: 5px;
    }

    #checkbtn {
        display: none;
    }

    .menu-hamb {
        margin: 12px 25px 0px auto;
        display: block;
        z-index: 5;
        height: 15px;
    }

    .cruz-boton {
        margin: 12px 25px 0px auto;
        display: none;
        height: 15px;
        z-index: 5;

    }

    #checkbtn:checked~nav {
        margin-top: 60px;
        transition: all 300ms ease-in;
    }

    #checkbtn:checked~.cruz-boton {
        display: block;
        transition: all 300ms ease-in-out;
    }

    #checkbtn:checked~.menu-hamb {
        left: 0;
        display: none;
    }


}

@media screen and (max-width:768px) {

    header {
        display: flex;
        flex-direction: row;
    }

    .logo {
        justify-content: space-between;
        width: 100%;
    }

    nav {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: -200%;
        height: 485px;
        flex-wrap: wrap;
        background: #0575E6;
        background: -webkit-linear-gradient(to right, #021B79, #0575E6);
        background: linear-gradient(to right, #021B79, #0575E6);
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: auto;
        flex-direction: column;

    }

    nav li {
        margin: auto;
        margin-left: -20px;
        margin-top: 15px;
        width: 100%;
        border-bottom: 2px solid white;

    }

    nav li a {
        font-size: 20px;
        letter-spacing: 10px;
    }

    nav a {
        width: 50%;
        text-align: left;
    }

    nav a:hover {
        background-color: rgba(0, 0, 0, 0);
        border-radius: none;
        transition: none;
        color: white;
        border-bottom: none;
    }

    nav .img-iconos {
        margin-right: 10px;
        margin-top: 6px;
        width: 16px;
        height: 16px;
    }

    #checkbtn {
        display: none;
    }

    .menu-hamb {
        margin: 12px 25px 0px auto;
        display: block;
        height: 15px;
    }

    .cruz-boton {
        margin: 12px 25px 0px auto;
        display: none;
        height: 15px;
    }

    #checkbtn:checked~nav {
        margin-top: 60px;
        transition: all 300ms ease-in;
    }

    #checkbtn:checked~.cruz-boton {
        display: block;
        transition: all 300ms ease-in-out;
    }

    #checkbtn:checked~.menu-hamb {
        left: 0;
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .logo img {
        margin-left: 5px;
        width: 150px;
        height: 60px;
    }
}