* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-whatsapp {
    position: fixed;
    bottom: 20px;
    left: 5px;
    cursor: pointer;
    z-index: 3;
}

.contenedor-whatsapp img {
    width: 50px;
    height: 50px;
    position: relative;
}

.contenedor-whatsapp a {
    cursor: pointer;
}

.contenedor-whatsapp .texto-whatsapp {
    background-color: rgba(0, 0, 0, 0.337);
    margin-top: -38px;
    margin-left: 50px;
    width: 100px;
    position: absolute;
    transition: 500ms all ease;
    opacity: 0;
    text-align: center;
    color: #fff;
    visibility: hidden;
    background-color: #45c014;
    border-radius: 100px;
    cursor: pointer;
}

.contenedor-whatsapp:hover>.texto-whatsapp {
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    z-index: 3;

}


@media screen and (max-width: 500px) {

    .contenedor-whatsapp img {
        width: 35px;
        height: 35px;
        z-index: 3;
    }
}