* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*-------------- INICIO TABLE-------------*/


/*--------------FIN TABLE-------------*/


/* ---------------INICIO HEADER--------------*/

header {
    margin: auto;
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.637);
    background: #0575E6;
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    background: linear-gradient(to right, #021B79, #0575E6);
    position: sticky;
    top: 0;
    z-index: 2;

}



.logo img {
    width: 200px;
    height: 60px;

}

nav {
    width: 80%;
    display: flex;
    justify-content: right;
    flex-direction: row;
}

nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 15px 8px;

}

nav .img-iconos {
    position: absolute;
    margin-top: 10px;
    margin-left: -15px;
    width: 16px;
    height: 16px;
    background-color: rgba(8, 99, 20, 0.705);
    border-radius: 110px;
}



nav li a {
    color: rgba(230, 231, 231, 0.945);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
}

nav li a:hover {
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 50px;
    transition: 1s;
    color: white;
    border-bottom: 1px solid white;
}



nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

header #checkbtn {
    display: none;
}

header label {
    display: none;
}


@media screen and (max-width:1000px) {

    header {
        display: flex;
    }

    .logo {
        justify-content: space-between;
        width: 100%;
    }


    nav {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: -200%;
        height: 485px;
        flex-wrap: wrap;
        background: #0575E6;
        background: -webkit-linear-gradient(to right, #021B79, #0575E6);
        background: linear-gradient(to right, #021B79, #0575E6);

    }

    nav ul {
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav li {
        text-align: center;
        width: 80%;
        max-width: 400px;
        justify-content: center;
    }


    nav li a {
        justify-content: center;
        font-size: larger;
        letter-spacing: 10px;

    }



    nav .img-iconos {
        position: absolute;
        margin-top: 10px;
        margin-left: -130px;
        width: 20px;
        height: 20px;
    }

    nav a {
        justify-content: center;
        text-align: left;
        font-size: 5px;
        border-bottom: 2px solid white;
    }

    #checkbtn {
        display: none;
    }

    .menu-hamb {
        margin: 12px 25px 0px auto;
        display: block;
        height: 15px;
    }

    .cruz-boton {
        margin: 12px 25px 0px auto;
        display: none;
        height: 15px;
    }


    #checkbtn:checked~nav {
        margin-top: 60px;
        transition: all 300ms ease-in;
    }

    #checkbtn:checked~.cruz-boton {
        display: block;
        transition: all 300ms ease-in-out;

    }

    #checkbtn:checked~.menu-hamb {
        left: 0;
        display: none;
    }
}




/*--------FIN HEADER----------*/

/*-------COMIENZO MAIN INDEX-------------*/
.main-index {
    width: 90%;
    margin: 50px auto 80px auto;
}

.titulos-index {
    font-family: sans-serif;
}

.titulos-index h1 {
    color: rgb(241, 30, 30);
}

.container-grid-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1 minmax(100%);
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.grid-producto-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 90%;
    max-width: 100%;
    height: 350px;
    margin: 15px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.979);
    border: 3px solid rgb(33, 34, 34);
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
    ;
}

.calidad {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: -22px;
}

.neumatico-descripcion {
    width: 100%;
}

.grid-producto-index .img4-index {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

.img4-index img {
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
}

.descripcion-producto {
    width: 100%;
    margin: 15px auto;
    height: 70px;
    background-color: rgb(95, 94, 94);
    border: 3px solid white;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.descripcion-producto h5:nth-child(1) {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(44, 49, 49, 0.08);
    text-align: center;


}

.descripcion-producto h5:nth-child(2) {
    font-family: sans-serif;
    color: blanchedalmond;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    text-align: center;

}




@media screen and (max-width: 1250px) {
    .container-grid-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 minmax(100%);
        justify-content: space-between;
        width: 100%;
        max-width: 750px;

    }

    .grid-producto-index {
        width: 80%;
        height: 360px;
        margin: 15px auto;
    }

    .calidad {
        width: 100%;
        margin-top: -25px;
        min-width: 100%;
    }

    .grid-producto-index .img4-index {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        width: 100%;
        height: 200px;
        margin: 15px auto;

    }

    .img4-index img {
        width: 80%;
        max-width: 400px;
        height: 200px;
        margin: 15px auto;
    }

    .descripcion-producto {
        width: 100%;
        margin: 15px auto;
        height: 70px;
        background-color: rgb(95, 94, 94);
        border: 3px solid white;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;


    }

    .descripcion-producto h5:nth-child(1) {
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
        background-color: rgba(44, 49, 49, 0.08);
        text-align: center;


    }

    .descripcion-producto h5:nth-child(2) {
        font-family: sans-serif;
        color: blanchedalmond;
        text-align: center;
        font-size: 15px;
        letter-spacing: 3px;
        text-align: center;

    }
}

@media screen and (max-width: 768px) {

    .container-grid-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 minmax(100%);
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }

    .grid-producto-index {
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 250px;
        height: 320px;
    }

    .calidad {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: 100%;
        margin-top: -25px;
    }

    .grid-producto-index .img4-index {
        width: 100%;
        height: 150px;
    }

    .img4-index img {
        width: 90%;
        max-width: 300px;
        height: 100px;
    }
}

@media screen and (max-width: 570px) {
    .container-grid-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1 minmax(100%);
    }

}


/*-------FIN MAIN INDEX-------------*/

/*-------------COMIENZO CONTACTO MAIN--------------*/

.main-contacto {

    margin: 0px auto 60px auto;
    width: 100%;
    display: flex;
}

.titulos {
    margin: 15px;
    font-family: sans-serif;
}

.titulos h2 {
    text-decoration: underline;
}

.contenedor-contacto {
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.parrafos {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}

.p1 {

    margin-top: 70px;
    font-size: 40px;
}

.p2 {
    margin-top: 15px;
    font-size: 33px;
}

.p4 {
    width: 100%;
    margin-top: 100px;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p4 span {
    text-align: right;
    margin-left: 100px;
    color: brown;
}



.contacto-section {
    width: 100%;
    margin: auto;
    margin-top: -25px;
    display: flex;
    justify-content: space-around;
}

.contacto-section form {
    border: 2px solid black;
    width: 80%;
    padding: 25px;
    color: rgb(239, 237, 241);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(30, 87, 134);
    font-family: sans-serif;
    text-transform: uppercase;

}

.inputs-texts {
    margin: 5px auto;
    width: 30%;
    font-size: 15px;
    font-weight: bold;
}

.inputs-texts input {
    width: 100%;
    height: 30px;
    border: 2px solid rgb(14, 13, 13);
}


.inputs-select-radio {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    width: 30%;
    font-size: 15px;
    font-weight: bold;

}

.inputs-select-radio select {
    border: 2px solid black;
    height: 30px;
    cursor: pointer;



}

.select-radio {
    display: flex;
    margin: 15px auto;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    cursor: auto;

}

.select-radio input {
    margin: 15px 5px;
    cursor: pointer;


}

.comentario {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 80%;
    font-size: 20px;

}

.comentario textarea {
    border: 2px solid black;

}

.terminos {
    margin: 5px auto;
    width: 100%;
    font-size: 20px;
}

.terminos input {
    cursor: pointer;

}

.button {
    margin: 5px auto;

}

.button button {
    background-color: #35a3c5;
    border: 2px solid gray;
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 5px;
    cursor: pointer;


}

.button button:hover {
    background-color: #959899;
    border: 2px solid rgb(5, 5, 5);
    cursor: pointer;

}

/*-----------------FIN MAIN CONTACTO-----------------*/

/*-----------------COMIENZA FOOTER-------------------*/
footer {
    width: 100%;
    margin: auto;
    background: #141E30;
    background: -webkit-linear-gradient(to left, #243B55, #141E30);
    background: linear-gradient(to left, #243B55, #141E30);
    position: static;

}



.container-footer {
    display: flex;
    flex-direction: row;
    margin: auto;
    min-width: 80%;
    max-width: 100%;
    padding: 15px;

}



.ubicacion {
    margin: 14px auto;
    padding: 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;

}

.ubicacion iframe {
    width: 350px;
    height: 200px;
}

.ubicacion img {
    width: 20px;
    height: 20px;
    position: absolute;
}

.ubicacion h5 {
    color: rgb(189, 186, 186);
    position: relative;
    margin-left: 30px;

}

.ubicacion iframe {
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
    height: 250px;

}

.contacto {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    max-width: 900px;
    margin: 14px auto;
    padding: 20px;
    border: none;
    text-align: center;


}

.contacto-info {
    margin: 0px auto;
}


.contacto h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 30px;
    color: rgb(189, 186, 186);
    margin: 5px;

}

.contacto h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
    color: #00bf8f;
    color: -webkit-linear-gradient(to right, #001510, #00bf8f);
    color: linear-gradient(to right, #001510, #00bf8f);
    margin: 5px;

}


.horario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 900px;
    margin: 14px auto;
    padding: 20px;

}

.horario img {
    width: 30px;
    height: 30px;
}

.horario h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 30px;
    color: rgb(189, 186, 186);

}

.horario h5 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 20px;
    color: rgb(189, 186, 186);
    margin-top: 15px;

}

.redes {
    margin: 5px auto;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: baseline;
}

.icon-redes {
    width: 30px;
    height: 30px;
    margin: 15px;
    border-radius: 100px;
}

.logos-autos {
    background-color: white;
    width: 100%;
    margin: auto;
}

.marcas-autos {
    display: flex;
}

.marcas-autos img {
    width: 50px;
    height: 48px;
    margin: 15px auto;

}

.logos-autos h5 {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

@media screen and (max-width: 1060px) {
    .container-footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-flex .ubicacion {
        width: 100%;
    }

    .ubicacion {
        width: 50%;
        margin: auto;
    }

    .contacto {
        width: 50%;
        margin: auto;
    }

    .horario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .horario img {
        display: none;
    }

    .titulos-horarios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        flex-wrap: wrap;
        padding: 5px;
        width: 80%;
        text-align: center;
    }

    .horario h3 {
        width: 100%;
        letter-spacing: 1px;
        font-weight: 100;
        font-size: 30px;
        text-align: center;
    }

    .horario h5 {
        width: 100%;
        margin: 5px auto;
        letter-spacing: 3px;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
    }

    .redes {
        margin: 5px auto;
        width: 100%;
        display: flex;
        justify-content: right;
    }
}

@media screen and (max-width: 768px) {

    .container-footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .ubicacion {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 5px auto;
    }

    .ubicacion iframe {
        width: 100%;
        height: 250px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }


    .contacto {
        width: 100%;
        margin: 5px auto;
        border: none;
        background: none;
        text-align: center;
    }

    .horario {
        width: 100%;
        margin: 5px auto;
        border: none;
        background: none;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {

    .ubicacion h5 {
        font-size: 13px;
    }

    .contacto h5 {
        font-size: 15px;
    }
}



/*-----------------FIN FOOTER-------------------*/